@use "sass:map";

$theme-colors: (
    "primary-dark": #2b2b2b,
    "primary-light": #f1f1f1,
    "secondary-dark": #808080,
    "secondary-light": #a5a5a5,
    "black": #000000,
    "white": #ffffff
);

%dark-mode {
    background-color: map.get($theme-colors, "primary-dark");
    color: map-get($map: $theme-colors, $key: "white");
}

html.dark-mode {
    @extend %dark-mode;
}